In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import sklearn as sk
import seaborn as sns
import warnings; warnings.simplefilter('ignore')
import matplotlib.pyplot as plt
import mglearn
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV
from sklearn.metrics import mean_squared_error

# Data Preparation and Feature Engineering:

In [2]:
def read_xyz(fileName):
    
    xyz_coordinates = [] #put xyz in an array
    
    with open(fileName,"r") as file:
        for line_number,line in enumerate(file):
            x,y,z = line.split()
            
            xyz_coordinates.append([int(x),int(y),float(z)])
    return xyz_coordinates

In [3]:
groundwater_map = read_xyz("GRW_MBS_50m.xyz")

In [4]:
#display in dataframe 
#add cplumns of name
my_array = np.array(groundwater_map)

df = pd.DataFrame(my_array, columns = ['XKoordinat','YKoordinat','Depth'])

Now we have a table with x,y coordinates and depths. Next step is to copmare with csv file coordinates and get a column to state the ground water level.

In [5]:
data = pd.read_csv("Energi_Viborg_Dandas_data.csv")

#drop columns not needed after asking the company about the meaning of these features

columns_to_be_removed = [ 'mslink','LedningID','Dobbeltled','EjerKompon','SystemKode','KategoriAf','DatoUdf']
data=data.drop(columns_to_be_removed,axis='columns')

# in the column DatoSaneri is the date of repairing and if there is no date it means it is not repaired

data['DatoSaneri'].fillna(0, inplace=True)

In [6]:
# take only the pipes that are broken(by TV insection) now and the repaired ones

data_with_TVObsAndSaneri = data[data['TVObsKode'].isin([1]) | data['DatoSaneri'] > 0]

get matched depth withground water of broken pipes

In [7]:
def get_matched_depth(select_x,select_y):
#     select_x = data['XKoordinat']
#     select_y = data['YKoordinat']
    #select_y = data.loc[data['XKoordinat'] == select_x]['YKoordinat'].values[0]
    length = data_with_TVObsAndSaneri.loc[data_with_TVObsAndSaneri['XKoordinat'] == select_x]['Laengde'].values[0]
    angle = data_with_TVObsAndSaneri.loc[data_with_TVObsAndSaneri['XKoordinat'] == select_x]['Fald'].values[0]
#     length=data['Laengde']
#     angle = data['Fald']
    #calculate another point by length:
    end_x = select_x+ (length * np.cos(angle))
    end_y = select_y+ (length * np.sin(angle))
    if(end_x > select_x):
        max_x=end_x
        min_x=select_x
    else:
        min_x=end_x
        max_x=select_x   
    if(end_y > select_y):
        max_y=end_y
        min_y=select_y
    else:
        min_y=end_y
        max_y=select_y   


    matched_depth_col = df.loc[(df['XKoordinat'] <= max_x)&(df['XKoordinat'] >= min_x)
    &(df['YKoordinat'] <= max_y)&(df['YKoordinat'] >= min_y)]['Depth']
    #test if there is a value
    if(matched_depth_col.size > 0):
        matched_depth = matched_depth_col.values[0]
    else:
        matched_depth = np.NaN
    
    return matched_depth

In [8]:
def add_depth(datacopy):
    select_x = datacopy['XKoordinat']
    select_y = datacopy['YKoordinat']
    return get_matched_depth(select_x,select_y)
data_with_TVObsAndSaneri['Depth'] = data_with_TVObsAndSaneri.apply(add_depth,axis =1)
data_with_TVObsAndSaneri

,ID,XKoordinat,YKoordinat,fra_kote,til_kote,Laengde,Fald,DiameterIn,MaterialeK,anlag_aar,TransportK,Funktionsk,TVObsKode,DatoOprett,DatoOpdate,DatoSaneri,Depth
36,87810,529911.05,6252443.83,34.720000,33.480000,64.88,19.112207,300.0,1.0,1939.0,1,0,0.0,2010,2014,1997.0,NaN
42,87832,530405.37,6252578.04,39.460000,39.160000,91.75,3.269755,400.0,1.0,1939.0,1,0,1.0,2010,2014,0.0,2.314121
43,87834,530493.05,6252579.67,39.710000,39.480000,87.69,2.622876,300.0,1.0,1939.0,1,0,1.0,2010,2014,0.0,NaN
64,87901,530791.62,6252572.03,40.550000,40.080000,52.11,9.019382,250.0,1.0,1945.0,1,0,1.0,2010,2014,0.0,4.478954
65,87903,530857.05,6252552.13,40.380000,40.550000,68.39,-2.485744,250.0,1.0,1945.0,1,0,1.0,2010,2014,0.0,5.462685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23957,222195,500582.01,6260561.72,11.940000,10.550000,60.32,23.043767,350.0,1.0,1968.0,1,0,1.0,2018,2018,0.0,9.960063
24062,222448,544401.67,6256588.02,25.720000,22.820000,44.37,65.359477,160.0,4.0,2017.0,1,0,1.0,2018,2018,0.0,NaN
24073,222942,530696.61,6245426.58,28.490000,27.730000,84.29,9.016491,200.0,1.0,1995.0,1,0,1.0,2018,2018,0.0,NaN
24090,222967,530819.00,6245345.46,27.162706,27.902884,18.82,-39.329328,315.0,4.0,1965.0,1,0,1.0,2018,2018,0.0,NaN
24127,223151,519201.08,6263360.29,4.930000,3.180000,113.13,15.468930,191.0,4.0,1992.0,1,0,0.0,2018,2018,2018.0,5.238400

In [9]:
data_with_TVObsAndSaneri_Groundwater = data_with_TVObsAndSaneri.dropna()

handle unbroken pipe by adding groundwater depth and get around 619 rows randomly

In [10]:
data_not_broken = data[~data['TVObsKode'].isin([0]) | data['DatoSaneri'] == 0]
data_not_broken = data_not_broken.sample(n=4000)

In [11]:
def get_matched_depth_unbroken(select_x,select_y):
#     select_x = data['XKoordinat']
#     select_y = data['YKoordinat']
    #select_y = data.loc[data['XKoordinat'] == select_x]['YKoordinat'].values[0]
    length = data_not_broken.loc[data_not_broken['XKoordinat'] == select_x]['Laengde'].values[0]
    angle = data_not_broken.loc[data_not_broken['XKoordinat'] == select_x]['Fald'].values[0]
#     length=data['Laengde']
#     angle = data['Fald']
    #calculate another point by length:
    end_x = select_x+ (length * np.cos(angle))
    end_y = select_y+ (length * np.sin(angle))
    if(end_x > select_x):
        max_x=end_x
        min_x=select_x
    else:
        min_x=end_x
        max_x=select_x   
    if(end_y > select_y):
        max_y=end_y
        min_y=select_y
    else:
        min_y=end_y
        max_y=select_y   


    matched_depth_col = df.loc[(df['XKoordinat'] <= max_x)&(df['XKoordinat'] >= min_x)
    &(df['YKoordinat'] <= max_y)&(df['YKoordinat'] >= min_y)]['Depth']
    #test if there is a value
    if(matched_depth_col.size > 0):
        matched_depth = matched_depth_col.values[0]
    else:
        matched_depth = np.NaN
    
    return matched_depth

In [12]:
def add_depth_unbroken(datacopy):
    select_x = datacopy['XKoordinat']
    select_y = datacopy['YKoordinat']
    return get_matched_depth_unbroken(select_x,select_y)
data_not_broken['Depth'] = data_not_broken.apply(add_depth_unbroken,axis =1)

In [13]:
data_not_broken_Groundwater = data_not_broken.dropna()
data_not_broken_Groundwater =data_not_broken_Groundwater.sample(n=619)

In [14]:
frames = [data_not_broken_Groundwater,data_with_TVObsAndSaneri_Groundwater]
data = pd.concat(frames)

In [15]:
datacopy = data


# add  age column

#get current year
from datetime import date
now = date.today().year


def age_df(datacopy):

    if (datacopy['TVObsKode'] == 1) and (datacopy['DatoSaneri'] > 0) :
        return (now - datacopy['DatoSaneri'])
    elif (datacopy['TVObsKode'] == 1) and (datacopy['DatoSaneri']== 0):
        return (now - datacopy['anlag_aar'])
    elif (datacopy['TVObsKode'] == 0) and (datacopy['DatoSaneri'] > 0):
        return (now - datacopy['DatoSaneri'])
    elif (datacopy['TVObsKode']== 0) and (datacopy['DatoSaneri']== 0):
        return (now - datacopy['anlag_aar'])

datacopy['Age'] = datacopy.apply(age_df, axis = 1)

In [16]:
# add a column 'PipeStatus'
# 1 as broken and 0 as not broken

def broken_df(datacopy):

    if (datacopy['TVObsKode'] == 1) and (datacopy['DatoSaneri'] < (datacopy['DatoOpdate'])) and (datacopy['DatoSaneri'] != 0):
        return 1
    elif (datacopy['TVObsKode'] == 1) and (datacopy['DatoSaneri'] >= (datacopy['DatoOpdate'])) and (datacopy['DatoSaneri'] != 0):
        return 0
    elif (datacopy['TVObsKode'] == 1) and (datacopy['DatoSaneri']== 0):
        return 1
    elif (datacopy['TVObsKode'] == 0) and (datacopy['DatoSaneri'] > 0):
        return 0
    elif (datacopy['TVObsKode']== 0) and (datacopy['DatoSaneri']== 0):
        return 0

datacopy['PipeStatus'] = datacopy.apply(broken_df, axis = 1)

In [17]:
# data_fs= np.where(np.isnan(data_features))
# data_fs
print("Number of rows before removing NaNs: {}".format(datacopy.shape[0]))
datacopy = datacopy.dropna()
print("Number of rows after removing NaNs: {}".format(datacopy.shape[0]))

Number of rows before removing NaNs: 1238
Number of rows after removing NaNs: 1238

In [18]:
#drop columns not needed after adding new features

columns_to_be_removed = ['DatoOprett', 'DatoOpdate']
datacopy=datacopy.drop(columns_to_be_removed,axis='columns')
datacopy[0:-1]

,ID,XKoordinat,YKoordinat,fra_kote,til_kote,Laengde,Fald,DiameterIn,MaterialeK,anlag_aar,TransportK,Funktionsk,TVObsKode,DatoSaneri,Depth,Age,PipeStatus
2714,102893,522313.42,6255138.53,21.81,20.69,84.30,13.285884,380.0,4.0,2005.0,1,0,0.0,0.0,8.522861,16.0,0
141,88341,538911.06,6260357.70,50.56,49.82,41.97,17.631642,300.0,1.0,1975.0,1,0,0.0,0.0,3.802876,46.0,0
2910,104088,523089.68,6257397.99,31.93,31.03,60.97,14.761358,200.0,1.0,1988.0,1,0,0.0,0.0,7.082390,33.0,0
1744,97544,524714.94,6257626.58,40.49,40.34,67.67,2.216640,800.0,1.0,1962.0,1,0,0.0,0.0,24.891315,59.0,0
267,88892,538718.27,6260471.48,53.11,52.67,82.21,5.352147,160.0,4.0,1975.0,1,0,0.0,0.0,4.527435,46.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23825,221075,505295.19,6253688.34,41.00,40.24,77.12,9.854772,200.0,1.0,1979.0,1,0,1.0,0.0,14.129904,42.0,1
23835,221099,505487.19,6253719.27,40.77,40.36,57.64,7.113116,200.0,1.0,1979.0,1,0,1.0,0.0,14.236778,42.0,1
23838,221112,505553.82,6253730.01,41.26,40.78,67.49,7.112165,200.0,1.0,1979.0,1,0,1.0,0.0,15.404106,42.0,1
23841,221115,505234.88,6253724.12,42.49,41.53,109.15,8.795236,315.0,4.0,1992.0,1,0,1.0,0.0,16.049837,29.0,1
23957,222195,500582.01,6260561.72,11.94,10.55,60.32,23.043767,350.0,1.0,1968.0,1,0,1.0,0.0,9.960063,53.0,1

In [19]:
# val = datacopy.nunique()
# val

In [28]:
# creating features set and target

columns_to_be_removed = ['Age']
data_features= datacopy.drop(columns_to_be_removed,axis='columns')
columns_to_be_removed = ['fra_kote','til_kote', 'Laengde','Fald','DiameterIn','MaterialeK','anlag_aar','TransportK',
                         'Funktionsk','TVObsKode','DatoSaneri','PipeStatus','ID','XKoordinat','YKoordinat','Depth']
data_target=datacopy.drop(columns_to_be_removed,axis='columns')

In [29]:
# data_fs= np.where(np.isnan(data_features))
# data_fs
data = datacopy
print("Number of rows before removing NaNs: {}".format(data.shape[0]))
data = data.dropna()
print("Number of rows after removing NaNs: {}".format(data.shape[0]))

Number of rows before removing NaNs: 1238
Number of rows after removing NaNs: 1238

In [30]:
data_target

        Age
2714   16.0
141    46.0
2910   33.0
1744   59.0
267    46.0
...     ...
23835  42.0
23838  42.0
23841  29.0
23957  53.0
24127   3.0

[1238 rows x 1 columns]

# Tuning Alpha for Lasso Model with Train-Test split and Normalization:

In [31]:
# Divide the data into training and test
X_train, X_test, y_train, y_test = train_test_split(data_features, data_target, random_state=42)

In [32]:
# Learn the model with a certain numnber of alphas
lassocv = LassoCV(alphas = None, cv = 10, max_iter = 100000, normalize = True)
lassocv.fit(X_train, y_train)
print("Best alpha value found: {}".format(lassocv.alpha_))

Best alpha value found: 0.0004811058664242277

In [33]:
# coefficients associated with the chosen alpha
pd.Series(lassocv.coef_ , index = data_features.columns)

ID            -0.000052
XKoordinat    -0.000052
YKoordinat    -0.000047
fra_kote      -0.000000
til_kote      -0.020297
Laengde       -0.012388
Fald          -0.031407
DiameterIn     0.000000
MaterialeK    -0.029542
anlag_aar     -0.717843
TransportK     0.000000
Funktionsk    -0.459278
TVObsKode     -6.505298
DatoSaneri    -0.019959
Depth          0.038679
PipeStatus    11.857780
dtype: float64

In [34]:
# to chech model performance
lasso = Lasso(max_iter = 10000, normalize = True)
lasso.set_params(alpha=lassocv.alpha_)
lasso.fit(X_train, y_train)
mse = mean_squared_error(y_test, lasso.predict(X_test))
print("The MSE associated with alpha value: {}".format(mse))

The MSE associated with alpha value: 72.16420629967234

The $R^2$ corresponding to this value for alpha are:

In [35]:
# R^2 of the associated alpha
print("R^2 on train data is {} and on test data is {}".format(lasso.score(X_train, y_train), 
                                                              lasso.score(X_test,y_test)))

R^2 on train data is 0.851957175504469 and on test data is 0.8755014496286583

# Tuning Alpha for Lasso Model with validation set split and Normalization:

In [36]:
# Divide the data into training, test and validation

X_trainval, X_test, y_trainval, y_test = train_test_split(data_features, data_target, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_trainval, y_trainval, random_state=43)

In [37]:
best_score = 100
for alphas in 10**np.linspace(-10, 10, 100):
    # Learn the model with a certain numnber of alphas
    lasso = Lasso(max_iter = 10000, normalize=True, alpha=alphas)
    lasso.fit(X_train, y_train)
    
    # Evaluate the model
    score = mean_squared_error(y_val, lasso.predict(X_val))
    
    
    # If improvement, store score and parameter
    if score < best_score:
        best_score = score
        best_alphas = alphas

# Build a model on the combine training and valiation data
lasso = Lasso(max_iter = 10000, normalize=True, alpha = best_alphas)
lasso.fit(X_trainval, y_trainval)

print("Best alpha found: {}".format(best_alphas))
print("Best MSE on validation set: {}".format(best_score))
print("MSE on training/validation set: {}".format(mean_squared_error(y_trainval, lasso.predict(X_trainval))))
print("MSE on test set: {}".format(mean_squared_error(y_test, lasso.predict(X_test))))

Best alpha found: 0.004750810162102793
Best MSE on validation set: 75.31233991285865
MSE on training/validation set: 77.49505970022544
MSE on test set: 73.81757655222576

In [38]:
# to chech model performance
lasso1 = Lasso(max_iter = 10000, alpha = best_alphas, normalize = True)
lasso1.fit(X_train, y_train)
mse = mean_squared_error(y_test, lasso1.predict(X_test))
print("The MSE associated with alpha value: {}".format(mse))

The MSE associated with alpha value: 74.48891072008689

In [39]:
# coefficients associated with the chosen alpha
pd.Series(lasso.coef_ , index = data_features.columns)

ID           -0.000049
XKoordinat   -0.000037
YKoordinat   -0.000019
fra_kote     -0.000000
til_kote     -0.000000
Laengde      -0.006941
Fald         -0.022962
DiameterIn    0.000000
MaterialeK   -0.006778
anlag_aar    -0.710088
TransportK    0.000000
Funktionsk   -0.401428
TVObsKode    -0.300554
DatoSaneri   -0.019966
Depth         0.000020
PipeStatus    5.485347
dtype: float64

In [40]:
# R^2 of the associated alpha
print("R^2 on train data is {} and on test data is {}".format(lasso1.score(X_train, y_train), 
                                                              lasso1.score(X_test,y_test)))

R^2 on train data is 0.8473985816453757 and on test data is 0.8714908418048627

# Tuning Alpha for Lasso Model with cross validation split and Normalization:

In [41]:
# Divide the data into training, test and validation

X_trainval, X_test, y_trainval, y_test = train_test_split(data_features, data_target, random_state=42)

In [42]:
best_score = 0
for alphas in 10**np.linspace(-10, 10, 100):
    # Set a certain number of alphas
    lasso1 = Lasso(max_iter = 10000, normalize=True, alpha=alphas)
    
    # Perform cross validation
    scores = cross_val_score(lasso1, X_trainval, y_trainval, cv=5)
    
    # Compute the mean score
    score = scores.mean()
    
    # If improvement, store score and parameter
    if score > best_score:
        best_score = score
        best_alphas = alphas

# Build a model on the combine training and valiation data
lasso1 = Lasso(max_iter = 10000, normalize=True, alpha = best_alphas)
lasso1.fit(X_trainval, y_trainval)

print("Best alpha found: {}".format(best_alphas))
print("Best MSE on validation set: {}".format(best_score))
print("MSE on training/validation set: {}".format(mean_squared_error(y_trainval, lasso1.predict(X_trainval))))
print("MSE on test set: {}".format(mean_squared_error(y_test, lasso1.predict(X_test))))

Best alpha found: 0.0002915053062825176
Best MSE on validation set: 0.8447087339006654
MSE on training/validation set: 76.34544177944922
MSE on test set: 72.13204119708232

In [43]:
# to chech model performance
lasso = Lasso(max_iter = 10000, alpha = best_alphas, normalize = True)
lasso.fit(X_train, y_train)
mse = mean_squared_error(y_test, lasso.predict(X_test))
print("The MSE associated with alpha value: {}".format(mse))

The MSE associated with alpha value: 72.75273150143259

In [44]:
# coefficients associated with the chosen alpha
pd.Series(lasso.coef_ , index = data_features.columns)

ID            -0.000050
XKoordinat    -0.000070
YKoordinat    -0.000081
fra_kote      -0.000000
til_kote      -0.014840
Laengde       -0.019227
Fald          -0.024436
DiameterIn    -0.001701
MaterialeK    -0.029499
anlag_aar     -0.699356
TransportK     0.000000
Funktionsk    -0.416734
TVObsKode     -8.789962
DatoSaneri    -0.019893
Depth          0.059897
PipeStatus    14.557375
dtype: float64

In [45]:
# R^2 of the associated alpha
print("R^2 on train data is {} and on test data is {}".format(lasso.score(X_train, y_train), 
                                                              lasso.score(X_test,y_test)))

R^2 on train data is 0.8493518801365918 and on test data is 0.8744861189234069

# Tuning Alpha for Lasso Model with Train-Test split and Standardization:

In [46]:
# Divide the data into training and test
X_train, X_test, y_train, y_test = train_test_split(data_features, data_target, random_state=42)

# preprocessing using 0-1 scaling
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [47]:
# Learn the model with a certain numnber of alphas
lassocv = LassoCV(alphas = None, cv = 10, max_iter = 100000, normalize = True)
lassocv.fit(X_train, y_train)
print("Best alpha value found: {}".format(lassocv.alpha_))

Best alpha value found: 0.0004811058664242277

In [48]:
# ridge.fit(data_features, data_target)
pd.Series(lassocv.coef_ , index = data_features.columns)

ID            -0.000052
XKoordinat    -0.000052
YKoordinat    -0.000047
fra_kote      -0.000000
til_kote      -0.020297
Laengde       -0.012388
Fald          -0.031407
DiameterIn     0.000000
MaterialeK    -0.029542
anlag_aar     -0.717843
TransportK     0.000000
Funktionsk    -0.459278
TVObsKode     -6.505298
DatoSaneri    -0.019959
Depth          0.038679
PipeStatus    11.857780
dtype: float64

In [49]:
# to chech model performance
lasso = Lasso(max_iter = 10000)
lasso.set_params(alpha=lassocv.alpha_)
lasso.fit(X_train, y_train)
mse = mean_squared_error(y_test, lasso.predict(X_test))
print("The MSE associated with alpha value: {}".format(mse))

The MSE associated with alpha value: 72.14647881551919

In [50]:
# R^2 of the associated alpha
print("R^2 on train data is {} and on test data is {}".format(lasso.score(X_train_scaled, y_train), 
                                                              lasso.score(X_test_scaled,y_test)))

R^2 on train data is -6165.26437817396 and on test data is -5473.824330805535

# Tuning Alpha for Lasso Model with validation set split and Standardization:

In [51]:
# Divide the data into training, test and validation

X_trainval, X_test, y_trainval, y_test = train_test_split(data_features, data_target, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_trainval, y_trainval, random_state=43)

# preprocessing using zero mean and unit variance scaling
scaler = StandardScaler()
scaler.fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)
X_val_scaled = scaler.transform(X_val)
X_trainval_scaled = scaler.transform( X_trainval)

In [52]:
best_score = 100
for alphas in 10**np.linspace(-10, 10, 100):
    # Learn the model with a certain numnber of alphas
    lasso1 = Lasso(max_iter = 10000, alpha=alphas)
    lasso1.fit(X_train_scaled, y_train)
    
    # Evaluate the model
    score = mean_squared_error(y_val, lasso1.predict(X_val_scaled))
    
    
    # If improvement, store score and parameter
    if score < best_score:
        best_score = score
        best_alphas = alphas

# Build a model on the combine training and valiation data
lasso1 = Lasso(max_iter = 10000, alpha = best_alphas)
lasso1.fit(X_trainval_scaled, y_trainval)

print("Best alpha found: {}".format(best_alphas))
print("Best MSE on validation set: {}".format(best_score))
print("MSE on training/validation set: {}".format(mean_squared_error(y_trainval, lasso1.predict(X_trainval_scaled))))
print("MSE on test set: {}".format(mean_squared_error(y_test, lasso1.predict(X_test_scaled))))

Best alpha found: 0.12328467394420634
Best MSE on validation set: 75.30664543916552
MSE on training/validation set: 77.20696176918165
MSE on test set: 73.43251475646696

In [53]:
# to chech model performance
lasso = Lasso(max_iter = 10000, alpha = best_alphas, normalize = True)
lasso.fit(X_train_scaled, y_train)
mse = mean_squared_error(y_test, lasso.predict(X_test_scaled))
print("The MSE associated with alpha value: {}".format(mse))

The MSE associated with alpha value: 126.73983208507218

In [54]:
# coefficients associated with the chosen alpha
pd.Series(lasso.coef_ , index = data_features.columns)

ID            -0.000000
XKoordinat    -0.000000
YKoordinat    -0.000000
fra_kote      -0.000000
til_kote       0.000000
Laengde       -0.000000
Fald          -0.000000
DiameterIn    -0.000000
MaterialeK    -0.000000
anlag_aar     -9.870866
TransportK     0.000000
Funktionsk    -0.000000
TVObsKode      0.000000
DatoSaneri   -14.336281
Depth         -0.000000
PipeStatus     1.041563
dtype: float64

In [55]:
# R^2 of the associated alpha
print("R^2 on train data is {} and on test data is {}".format(lasso.score(X_train_scaled, y_train), 
                                                              lasso.score(X_test_scaled,y_test)))

R^2 on train data is 0.7742559157386047 and on test data is 0.7813469283736805

# Tuning Alpha for Lasso Model with cross validation split and Standardization:

In [56]:
# Divide the data into training, test and validation

X_trainval, X_test, y_trainval, y_test = train_test_split(data_features, data_target, random_state=42)

# preprocessing using 0-1 scaling
scaler = StandardScaler()
scaler.fit(X_train)

X_test_scaled = scaler.transform(X_test)
X_trainval_scaled = scaler.transform( X_trainval)

In [57]:
best_score = 0
for alphas in 10**np.linspace(-10, 10, 100):
    # Set a certain number of alphas
    lasso1 = Lasso(max_iter = 10000, alpha=alphas)
    
    # Perform cross validation
    scores = cross_val_score(lasso1, X_trainval_scaled, y_trainval, cv=5)
    
    # Compute the mean score
    score = scores.mean()
    
    # If improvement, store score and parameter
    if score > best_score:
        best_score = score
        best_alphas = alphas

# Build a model on the combine training and valiation data
lasso1 = Lasso(max_iter = 10000, alpha = best_alphas)
lasso1.fit(X_trainval_scaled, y_trainval)

print("Best alpha found: {}".format(best_alphas))
print("Best MSE on validation set: {}".format(best_score))
print("MSE on training/validation set: {}".format(mean_squared_error(y_trainval, lasso1.predict(X_trainval_scaled))))
print("MSE on test set: {}".format(mean_squared_error(y_test, lasso1.predict(X_test_scaled))))

Best alpha found: 0.007564633275546291
Best MSE on validation set: 0.8447108353419364
MSE on training/validation set: 76.3441814264463
MSE on test set: 72.12477999958982

In [58]:
# to chech model performance
lasso = Lasso(max_iter = 10000, alpha = best_alphas)
lasso.fit(X_trainval_scaled,y_trainval)
mse = mean_squared_error(y_test, lasso.predict(X_test_scaled))
print("The MSE associated with alpha value: {}".format(mse))

The MSE associated with alpha value: 72.12477999958982

In [59]:
# coefficients associated with the chosen alpha
pd.Series(lasso.coef_ , index = data_features.columns)

ID            -2.155849
XKoordinat    -0.552337
YKoordinat    -0.352131
fra_kote      -0.000000
til_kote      -0.338665
Laengde       -0.347551
Fald          -0.670256
DiameterIn     0.005550
MaterialeK    -0.210661
anlag_aar    -14.268274
TransportK     0.000000
Funktionsk    -0.664976
TVObsKode     -2.983829
DatoSaneri   -18.283535
Depth          0.406160
PipeStatus     5.210254
dtype: float64

In [60]:
# R^2 of the associated alpha
print("R^2 on train/validation data is {} and on test data is {}".format(lasso.score(X_trainval_scaled,y_trainval), 
                                                              lasso.score(X_test_scaled,y_test)))

R^2 on train/validation data is 0.8519752950606793 and on test data is 0.875569468352323